.App {
  font-family: "Oxygen", sans-serif;
}
/*Accordion*/
.acc_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ce82ff;
  padding: 0 1em;
  border-radius: 7px 7px 0 0;
  cursor: pointer;
  color: #ffffff;
  letter-spacing: 1px;
  user-select: none;
}

.acc_content {
  margin: 0;
  padding: 1em;
  text-align: left;
  background-color: #1cb0f6;
  color: #fff;
  border-radius: 0 0 7px 7px;
  transition: transform 0.3s ease;
  transform-origin: top;
  user-select: none;
}
